{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{ title }}管理系统</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
    {%block head%}{% endblock head %}


	<script type="text/javascript">
	$(function(){
	    var error_check_change_password = false;
		function check_change_cpwd(){
			var pass = $('#new_pwd').val();
			var cpass = $('#cnew_pwd').val();

			if(pass!=cpass)
			{
				$('#cnew_pwd').next().html('两次输入的密码不一致')
				$('#cnew_pwd').next().show();
				error_check_change_password = true;
			}
			else
			{
				$('#cnew_pwd').next().hide();
				error_check_change_password = false;
			}

		}
<!--		$('#cnew_pwd').blur(function() {-->
<!--			check_change_cpwd();-->
<!--		});-->

		$('.submit_pwd').click(function(){
			check_change_cpwd();
			$('#old_pwd').next().hide();
			if(error_check_change_password==true){
				return false;
			}
            $.ajax({
                url: "/user/changePwd/",
                data: {csrfmiddlewaretoken:'{{ csrf_token }}', "old_pwd": $('#old_pwd').val(), "new_pwd": $('#new_pwd').val(), "title": '{{title}}', 'cnew_pwd': $('#cnew_pwd').val()},
                type: "POST",
                dataType: "json",
                success: function(res){
                    if(res["static"] == "True"){
                    	alert("修改成功");
                    	window.location.reload();
                    } else {
                    	$('#old_pwd').next().html('密码错误');
                    	$('#old_pwd').next().show();
                    }
                }
            })
		});



	})


	</script>
</head>
<body>
<div class="modal fade" id="myModal_pwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_pwa" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
			<div class="form-group">
				<input type="text" id="old_pwd" class="form-control col-md-4 mb20" placeholder="原密码 *" />
				<span class="error_tip" style="display: none;">提示信息</span>
			</div>
			<div class="form-group">
				<input type="password" id="new_pwd" class="form-control col-md-4 mb20" placeholder="新密码 *" />
			</div>
			<div class="form-group">
				<input type="password" id="cnew_pwd" class="form-control col-md-4 mb20" placeholder="确认密码 *" />
				<span class="error_tip" style="display: none;">提示信息</span>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary submit_pwd">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

	<div class="header_con">
		<div class="header">
			<div class="fr">
				<div class="login_info fl">
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="#" class="" data-toggle="modal" data-target="#myModal_pwd">修改密码</a>
					<span>|</span>
					<a href="#">{{title}}</a>
					<span>|</span>
					<a href="#">{{ uname }}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{title}}</div>
	</div>

{%block body%}{% endblock body %}
</body>


	<div class="footer no-mp">
		<div class="foot_link">
<!--			<a href="#">关于我们</a>-->
<!--			<span>|</span>-->
<!--			<a href="#">联系我们</a>-->
<!--			<span>|</span>-->
<!--			<a href="#">招聘人才</a>-->
<!--			<span>|</span>-->
<!--			<a href="#">友情链接</a>-->
		</div>
<!--<p>遇到bug可以及时联系网站管理员：401497364@qq.com；一定及时修改</p>-->
<!--		<p>电话：010-****888    京ICP备*******8号</p>-->
	</div>

</html>