{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{ title }}管理系统</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
    {%block head%}{% endblock head %}
</head>

{%block body%}{% endblock body %}

	<div class="footer no-mp">
<!--		<div class="foot_link">-->
<!--			<a href="#">关于我们</a>-->
<!--			<span>|</span>-->
<!--			<a href="#">联系我们</a>-->
<!--			<span>|</span>-->
<!--			<a href="#">招聘人才</a>-->
<!--			<span>|</span>-->
<!--			<a href="#">友情链接</a>-->
		</div>
<!--		<p>遇到bug可以及时联系网站管理员：401497364@qq.com；一定及时修改</p>-->
<!--		<p>电话：010-****888    京ICP备*******8号</p>-->
	</div>

</html>