{% extends 'base1.html' %}
{%block head%}
    <script type="text/javascript">

	$(function(){
		var zhiyuan = 1;
		var error_tea_name = false;
		$('#zhiyuan1').click(function() {
			$(this).attr("class", 'active');
			$('#zhiyuan2').attr("class", '');
			$('#zhiyuan3').attr("class", '');
			zhiyuan = 1;
		});
		$('#zhiyuan2').click(function() {
			$(this).attr("class", 'active');
			$('#zhiyuan1').attr("class", '');
			$('#zhiyuan3').attr("class", '');
			zhiyuan = 2;
		});
		$('#zhiyuan3').click(function() {
			$(this).attr("class", 'active');
			$('#zhiyuan2').attr("class", '');
			$('#zhiyuan1').attr("class", '');
			zhiyuan = 3;
		});
		var dataInit = function(){
			$.ajax({
                url: "/user/manageSite/",
                type: "GET",
                dataType: "json",
                success: function(res){
                    if(res["res"] == "True"){
                    	for(i = 0; i < res["teachers"].length; i++) {

							$(".tab_tbody").append('<tr class="aaa">'
								+"<td>"+res["teachers"][i][0]+"</td>"
								+"<td>"+res["teachers"][i][1]+"</td>"
								+"<td>"+res["teachers"][i][2]+"</td>"
								+"<td>"+res["teachers"][i][3]+"</td>"
								+"<td>"+res["teachers"][i][4]+"</td>"
								+"<td>"+res["teachers"][i][5]+"</td>"
								+"<td>"+res["teachers"][i][6]+"</td>"
<!--								+"<td><button type=’button‘ class=‘btn btn-default’>修改</button></td>"-->
								+"</tr>");
                    	};
                    }
                }
			});
		};
		dataInit();

		$(".open").click(function(){
			type = $(this).val();
            $.ajax({
                url: "/user/manageOpen/",
                data: {csrfmiddlewaretoken:'{{ csrf_token }}', "type": type},
                type: "POST",
                dataType: "json",
                success: function(res){
                    if(res["res"] == "True"){
                    	alert("成功");
                    }
                }
            })
		});

		$('.submit').click(function(){
			if(error_tea_name==true){
				return false;
			}

            $.ajax({
                url: "/user/manageSite/",
                data: {csrfmiddlewaretoken:'{{ csrf_token }}', "tea_name": $('#tea_name').val(), "num_sys": $('#num_sys').val(), "num_wuli": $('#num_wuli').val(), "num_math": $('#num_math').val(), "pwd": $('#pwd').val(), "type": zhiyuan, 'tea_name_pin': $('#tea_name_pin').val()},
                type: "POST",
                dataType: "json",
                success: function(res){
                    if(res["res"] == "True"){
                    	window.location.reload();
                    }
                }
            })
		})

		$('#tea_name_pin').blur(function() {
			check_tea_name_pin();
		});
		function check_tea_name_pin(){
			var len = $('#tea_name_pin').val().length;
			if(len<2||len>20)
			{
				$('#tea_name_pin').next().html('请输入2-20个字符的用户名')
				$('#tea_name_pin').next().show();
				error_tea_name = true;
			}
			else
			{
				$.get('/user/register_exist/?uname='+$('#tea_name_pin').val(), function(data){
					if(data.count==1){
						$('#tea_name_pin').next().html("用户名已经存在").show();
						error_tea_name = true;
					}else{
						$('#tea_name_pin').next().hide();
						error_tea_name = false;
					}
				});

			}
		}

	})
    </script>
{% endblock head %}
{%block body%}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">分配名额</h4>
            </div>
			<div class="form-group">
				<input type="text" id="tea_name" class="form-control col-md-4 mb20" placeholder="教师姓名 *" />
			</div>
			<div class="form-group">
				<input type="text" id="tea_name_pin" class="form-control col-md-4 mb20" placeholder="老师登陆账号，建议使用教师工号，不能重复，密码默认是123456" />
				<span class="error_tip" style="display: none;">提示信息</span>
			</div>
<!--			<div class="form-group">-->
<!--				<input type="text" id="num" class="form-control col-md-4 mb20" placeholder="名额 *" />-->
<!--			</div>-->
			<div class="form-group">
				<input type="text" id="pwd" class="form-control col-md-4 mb20" placeholder="密码 *" />
			</div>
			<div class="form-group">
				<input type="text" id="num_math" class="form-control col-md-4 mb20" placeholder="数学方向的名额 *" />
			</div>
			<div class="form-group">
				<input type="text" id="num_sys" class="form-control col-md-4 mb20" placeholder="系统科学方向的名额 *" />
			</div>
			<div class="form-group">
				<input type="text" id="num_wuli" class="form-control col-md-4 mb20" placeholder="物理方向的名额 *" />
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary submit">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<table class="table table-striped">
	<caption>
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">分配名额</button>
		<button type="button" class="btn btn-default open" value="1">开启第一批次</button>
		<button type="button" class="btn btn-default open" value="2">开启第二批次</button>
		<button type="button" class="btn btn-default open" value="3">开启第三批次</button>
		<button type="button" class="btn btn-default open" value="0">关闭</button>
		<button type="button" class="btn btn-default" ><a href="/user/stu_chose/">查看学生选择情况</a></button>
	</caption>
	<thead>
		<tr>
			<th>姓名</th>
			<th>数学方向的名额</th>
			<th>系统科学方向的名额</th>
			<th>物理方向的名额</th>
			<th>第一批次</th>
			<th>第二批次</th>
			<th>第三批次</th>
<!--			<th>修改</th>-->
		</tr>
	</thead>
	<tbody class="tab_tbody">
<!--		<tr>-->
<!--			<td>Tanmay</td>-->
<!--			<td>Bangalore</td>-->
<!--			<td>560001</td>-->
<!--		</tr>-->
	</tbody>
</table>


{% endblock body %}