{% extends 'base.html' %}

{%block head%}
<!--<script type="text/javascript" src="/static/js/register.js"></script>-->
<script type="text/javascript">
$(function(){

	var error_name = false;
	var error_password = false;
	var error_check_password = false;
	var error_email = false;
	var error_check = false;

    $('.submit_zhuce').click(function() {
        if(error_name == true||error_password==true||error_check_password==true||error_email==true||error_check==true){
            return false;
        }
        sub_zhuce();
    });
    function sub_zhuce(){
		console.log($('[name="optionsRadiosinline"]:checked').val());
        $.ajax({
            url: "/user/register_handle/",
            type: "POST",
            data: {csrfmiddlewaretoken:"{{ csrf_token }}", "user_name": $('#user_name').val(), "pwd": $('#pwd').val(), "cpwd": $('#cpwd').val(), "uname": $('#uname').val(), "major": $('[name="optionsRadiosinline"]:checked').val()},
            dataType: "json",
            success: function(res){
            	if(res["res"] == "True"){
            		alert("注册成功！");
            		window.location.href='/user/login/';
            	}
            }
        });
    }
	$('#user_name').blur(function() {

		check_user_name();
	});

	$('#pwd').blur(function() {
		check_pwd();
	});

	$('#cpwd').blur(function() {
		check_cpwd();
	});

	$('#userN').blur(function() {
		check_userN();
	});

	$('#allow').click(function() {
		if($(this).is(':checked'))
		{
			error_check = false;
			$(this).siblings('span').hide();
		}
		else
		{
			error_check = true;
			$(this).siblings('span').html('请勾选同意');
			$(this).siblings('span').show();
		}
	});


	function check_user_name(){
		var len = $('#user_name').val().length;
		if(len<2||len>20)
		{
			$('#user_name').next().html('请输入2-20个字符的用户名')
			$('#user_name').next().show();
			error_name = true;
		}
		else
		{
		    $.get('/user/register_exist/?uname='+$('#user_name').val(), function(data){
		        if(data.count==1){
		            $('#user_name').next().html("用户名已经存在").show();
		            error_name = true;
		        }else{
                    $('#user_name').next().hide();
                    error_name = false;
		        }
		    });

		}
	}



	function check_pwd(){
		var len = $('#pwd').val().length;
		if(len<6||len>20)
		{
			$('#pwd').next().html('密码最少6位，最长20位')
			$('#pwd').next().show();
			error_password = true;
		}
		else
		{
			$('#pwd').next().hide();
			error_password = false;
		}
	}


	function check_cpwd(){
		var pass = $('#pwd').val();
		var cpass = $('#cpwd').val();

		if(pass!=cpass)
		{
			$('#cpwd').next().html('两次输入的密码不一致')
			$('#cpwd').next().show();
			error_check_password = true;
		}
		else
		{
			$('#cpwd').next().hide();
			error_check_password = false;
		}

	}

	function check_userN(){
		var len = $('#userN').val().length;
		if(len<2||len>20)
		{
			$('#userN').next().html('请输入2-20个字符的姓名')
			$('#userN').next().show();
			error_name = true;
		}
		else
		{
			$('#userN').next().hide();
			error_name = false;
		}
	}


	$('#reg_form').submit(function() {
		check_user_name();
		check_pwd();
		check_cpwd();
		check_userN();
		if(error_name == false && error_password == false && error_check_password == false && error_email == false && error_check == false)
		{
			return true;
		}
		else
		{
			return false;
		}

	});
})
</script>
{% endblock head %}

{%block body%}
<body>
	<div class="register_con">
<!--		<a class="reg_logo"><img src="/static/images/logo021.png"></a>-->
		<div class="l_con fl">
<!--			<a class="reg_logo"><img src="/static/images/logo021.png"></a>-->
<!--			<div class="reg_slogan">足不出户  ·  新鲜每一天</div>-->
<!--			<div class="reg_banner"></div>-->
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>用户注册</h1>
				<a href="/user/login/">登录</a>
			</div>
			<div class="reg_form clearfix">
<!--				<form action="/user/register_handle/" method="post">-->
<!--					{% csrf_token %}-->
				<ul>
					<li>
						<label>用户名:</label>
						<input type="text" name="user_name" id="user_name">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>密码:</label>
						<input type="password" name="pwd" id="pwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>确认密码:</label>
						<input type="password" name="cpwd" id="cpwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>姓名:</label>
						<input type="text" name="uname" id="uname">
						<span class="error_tip">提示信息</span>
					</li>
					<label class="radio-inline">
						<input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="系统科学专业" checked> 系统科学专业
					</label>
					<label class="radio-inline">
						<input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="数学专业"> 数学专业
					</label>
					<label class="radio-inline">
						<input type="radio" name="optionsRadiosinline" id="optionsRadios5"  value="物理专业"> 物理专业
					</label>
<!--					<li>-->
<!--						<label><input name="type" type="radio" value="0" />管理员 </label>-->
<!--						<label><input name="type" type="radio" value="1" />教师 </label>-->
<!--						<label><input name="type" type="radio" value="2" />学生 </label>-->
<!--					</li>-->
					<li class="agreement">
<!--						<input type="checkbox" name="allow" id="allow" checked="checked">-->
<!--						<label>同意”天天生鲜用户使用协议“</label>-->
						<span class="error_tip2">提示信息</span>
					</li>

					<li class="reg_sub">
						<button type="button" class="submit_zhuce btn btn-default">注册</button>
					</li>
				</ul>
<!--				</form>-->
			</div>

		</div>

	</div>

</body>
{% endblock body %}
