{% extends 'base1.html' %}
{%block head%}
    <script type="text/javascript">
	$(function(){
	})
    </script>
{% endblock head %}
{%block body%}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">分配名额</h4>
            </div>
			<div class="form-group">
				<input type="text" id="tea_name" class="form-control col-md-4 mb20" placeholder="教师姓名 *" />
			</div>
			<div class="form-group">
				<input type="text" id="tea_name_pin" class="form-control col-md-4 mb20" placeholder="老师登陆账号，建议使用教师工号，不能重复，密码默认是123456" />
				<span class="error_tip" style="display: none;">提示信息</span>
			</div>
<!--			<div class="form-group">-->
<!--				<input type="text" id="num" class="form-control col-md-4 mb20" placeholder="名额 *" />-->
<!--			</div>-->
			<div class="form-group">
				<input type="text" id="pwd" class="form-control col-md-4 mb20" placeholder="密码 *" />
			</div>
			<div class="form-group">
				<input type="text" id="num_math" class="form-control col-md-4 mb20" placeholder="数学方向的名额 *" />
			</div>
			<div class="form-group">
				<input type="text" id="num_sys" class="form-control col-md-4 mb20" placeholder="系统科学方向的名额 *" />
			</div>
			<div class="form-group">
				<input type="text" id="num_wuli" class="form-control col-md-4 mb20" placeholder="物理方向的名额 *" />
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary submit">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<table class="table table-striped">
<!--	<caption>-->
<!--		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">分配名额</button>-->
<!--		<button type="button" class="btn btn-default open" value="1">开启第一批次</button>-->
<!--		<button type="button" class="btn btn-default open" value="2">开启第二批次</button>-->
<!--		<button type="button" class="btn btn-default open" value="3">开启第三批次</button>-->
<!--		<button type="button" class="btn btn-default open" value="0">关闭</button>-->
<!--	</caption>-->
	<thead>
		<tr>
			<th>序号</th>
			<th>姓名</th>
			<th>专业</th>
			<th>第一志愿</th>
			<th>第二志愿</th>
			<th>第三志愿</th>
			<th>导师</th>
			<th>查看该生简历</th>
<!--			<th>修改</th>-->
		</tr>
	</thead>
	<tbody>
	{% for i in res %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{i.name}}</td>
			<td>{{i.major}}</td>
			<td>{{i.volunteer1}}</td>
			<td>{{i.volunteer2}}</td>
			<td>{{i.volunteer3}}</td>
			<td>{{i.choseTeaId}}</td>
			<td><a href="/user/download/?filename={{i.honor}}"> 查看该生简历</a></td>
<!--			<td><button type="button" id="{{teacher.id}}" class="btn btn-default chose">选择</button></td>-->
		</tr>
	{% endfor %}
	</tbody>
</table>


{% endblock body %}