{% extends 'base1.html' %}
{%block head%}
    <script type="text/javascript">

	$(function(){
		var zhiyuan = 1;
		$('#zhiyuan1').click(function() {
			$(this).attr("class", 'active');
			$('#zhiyuan2').attr("class", '');
			$('#zhiyuan3').attr("class", '');
			zhiyuan = 1;
		});
		$('#zhiyuan2').click(function() {
			$(this).attr("class", 'active');
			$('#zhiyuan1').attr("class", '');
			$('#zhiyuan3').attr("class", '');
			zhiyuan = 2;
		});
		$('#zhiyuan3').click(function() {
			$(this).attr("class", 'active');
			$('#zhiyuan2').attr("class", '');
			$('#zhiyuan1').attr("class", '');
			zhiyuan = 3;
		});





<!--		$('.sub_hor').click(function(){-->
<!--			$.ajax({-->
<!--				url: "/user/studentHonor/",-->
<!--				data: {csrfmiddlewaretoken:'{{ csrf_token }}', file:file},-->
<!--				type: "POST",-->
<!--				dataType: "json",-->
<!--				success: function(res){-->
<!--					$('.hor').text(res["hor"]);-->
<!--					if (res["static"]=="True"){-->
<!--						alert("提交成功");-->
<!--					}-->
<!--				}-->
<!--			});-->
<!--		});-->

		$('.chose').click(function(){
			$.ajax({
			url: "/user/studentSite/",
			data: {csrfmiddlewaretoken:'{{ csrf_token }}','stu':'{{ uname }}', 'zhiyuan': zhiyuan, 'teacher': $(this).attr("id")},
			type: "POST",
			dataType: "json",
			success: function(data){
				if (data["res"] == 'True'){
					$.ajax({
						url: "/user/studentResChose/",
						data: {csrfmiddlewaretoken:'{{ csrf_token }}',},
						type: "POST",
						dataType: "json",
						success: function(res){

							$('#v1').text(res["tea_chose"][0]);
							$('#v2').text(res["tea_chose"][1]);
							$('#v3').text(res["tea_chose"][2]);
						}
					})

					alert("提交成功！");
				}else{
					alert(data["res_title"]);
				}

			}
			})

		});
	})
	function is_pdf_word(){
		var file = document.getElementById("inputfile").files[0]
		if (file == null||file == ""){
			 alert("请选择要上传的文件!");
			 return false;
		}
		var AllImgExt=".pdf|.docx|";
		var extName = file["name"].split(".")[1];
		console.log(extName)
		if(AllImgExt.indexOf(extName+"|")==-1)
		{
			ErrMsg="该文件类型不允许上传。请上传 "+AllImgExt+" 类型的文件，当前文件类型为"+extName;
			alert(ErrMsg);
			window.location.reload();
			return false;
		}
	};
    </script>
{% endblock head %}
{%block body%}


	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>志愿</h3>
			<ul>
				<li><a href="#" class="active" id="zhiyuan1">· 第一志愿</a></li>
				<li><a href="#" id="zhiyuan2">· 第二志愿</a></li>
				<li><a href="#" id="zhiyuan3">· 第三志愿</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">请选择你专业相关的导师，否则导师无法查看你的信息。</h3>
				<table id="tab" class="table table-striped">
					<thead>
						<tr>
							<th>第一志愿导师</th>
							<th>第二志愿导师</th>
							<th>第三志愿导师</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="v1">{{volunteer1}}</td>
							<td id="v2">{{volunteer2}}</td>
							<td id="v3">{{volunteer3}}</td>
					   </tr>
					</tbody>

				</table>


				<table class="table table-striped">
					<thead>
						<tr>
							<th>老师姓名</th>
							<th>是否选择</th>
						</tr>
					</thead>
					<tbody>
					{% for teacher in teachers %}
						<tr>
							<td>{{teacher.uname}}
							</td>
							<td><button type="button" id="{{teacher.id}}" class="btn btn-default chose">选择</button></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

			<table class="table table-striped">
				<label>上传简历:(只能上传.pdf或者.docx，简历名字改为登陆账号的名字(用户名))</label>
<!--			  	<textarea class="form-control hor" rows="3">{{honor}}</textarea>-->
<!--				<input class="oper_btn sub_hor" type="submit" value="提交" />-->
				<form class="form-inline" role="form" method="post" enctype="multipart/form-data" action="/user/studentHonor/">
					{% csrf_token %}
					<div class="form-group">
						<label class="sr-only" for="inputfile">文件输入</label>
						<input type="file" accept=".pdf,.docx" oninput="is_pdf_word()" id="inputfile" name="inputfile">
					</div>
					<button type="submit" class="btn btn-default sub_hor">提交</button>
				</form>
			</table>
		</div>
	</div>

{% endblock body %}