{% extends 'base1.html' %}
{%block head%}
    <script type="text/javascript">

	$(function(){
		var chose_zhiyuan = function(){
			if({{type}}=="1"){
				$('#zhiyuan1').attr("class", 'active');
				$('#zhiyuan2').attr("class", '');
				$('#zhiyuan3').attr("class", '');
			}else if({{type}}=="2") {
				$('#zhiyuan1').attr("class", '');
				$('#zhiyuan2').attr("class", 'active');
				$('#zhiyuan3').attr("class", '');
			}else {
				$('#zhiyuan1').attr("class", '');
				$('#zhiyuan2').attr("class", '');
				$('#zhiyuan3').attr("class", 'active');
			};
		};
		$('.submit0').click(function() {
			var stu_id = $(this).attr("name");
			$.ajax({
				url: "/user/teacherRefuse/",
				data: {csrfmiddlewaretoken:'{{ csrf_token }}', stu_id: stu_id, type: {{type}}},
				type: "POST",
				dataType: "json",
				success: function(res){
					if (res["static"]=="True"){
						alert(res["title"]);
						window.location.reload();
					}
				}
			});
		});
		$('.submit1').click(function() {
			var stu_id = $(this).attr("name");
			$.ajax({
				url: "/user/teacherAccept/",
				data: {csrfmiddlewaretoken:'{{ csrf_token }}', stu_id: stu_id, type: {{type}}},
				type: "POST",
				dataType: "json",
				success: function(res){
					if (res["static"]=="True"){
						alert(res["title"]);
						window.location.reload();
					}
				}
			});
		});

		$(".change_pwd").click(function(){
			alert("aa");
		});


		chose_zhiyuan();
	})
    </script>
{% endblock head %}
{%block body%}


	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>批次</h3>
			<ul>
				<li><a href="#" class="active" id="zhiyuan1">· 第一批次</a></li>
				<li><a href="#" id="zhiyuan2">· 第二批次</a></li>
				<li><a href="#" id="zhiyuan3">· 第三批次</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">(系统科学名额：{{ vol_sys_numb }}；数学名额：{{ vol_math_numb }}；物理名额：{{ vol_wl_numb }}
					)</h3>
				<h3 class="common_title2">您选择的学生：</h3>
				<table id="tab" class="table table-striped">
					<tr class="stud">
						{% for name in stu_names %}
							<td class="v1"><a href="/user/download/?filename={{name.stu_jianli}}"> {{name.stu_name}}({{ name.stu_major }})</a></td>
						{% endfor %}
				   </tr>
				</table>


				<table class="table table-striped">
					<thead>
						<tr>
							<th>学生姓名</th>
							<th>查看该生简历</th>
							<th>专业</th>
							<th>拒绝</th>
							<th>选择</th>
						</tr>
					</thead>
					<tbody>
					{% for stu in stu_tea_name %}
						<tr>
							<td>{{stu.uname}}</td>
							<td><a href="/user/download/?filename={{stu.honor}}"> 查看该生简历</a></td>
							<td>{{stu.stu_major}}</td>
							<td><a href="#" class="oper_btn submit0" name="{{stu.id}}">拒绝</a></td>
							<td><a href="#" class="oper_btn submit1" name="{{stu.id}}">选择</a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

		</div>
	</div>

{% endblock body %}